/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Apply styles to the header */
header {
background-color: #2910e8;
padding: 20px;
}

h1 {
text-align: center;
margin-bottom: 10px;
color: white;
}

#search-form {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 20px;
}

#margin {
height: 40px;
width: 200px;
margin-top: 10px;
background-color: #17a2d4;
border-color: aliceblue;
}

#city-input {
padding: 10px;
margin-right: 10px;
width: 200px;
margin-top: 10px;
}

/* Apply styles to the main content */
main {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

#current-weather-section {
  border-style: solid;
  width: 755.2px;
  height: 157.2px;
}

#current-weather {
margin-bottom: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
align-items: center;
}

#forecast {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
}

#city-buttons {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 10px;
margin-left: 20px;
}

.city-button {
margin-bottom: 5px;
height: 40px;
width: 200px;
}

#weather-icon {
  max-width: 100%;
  height: auto;
}

.forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.forecast-item {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Add more styles to customize the weather display and forecast sections */
  